<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/lib/css/bootstrap.min.css" type="text/css" media="screen" />
<style type="text/css">
.main-container {
    margin:0 auto;
    width: 900px;
}
.main-content {
    width: 900px;
    margin:0 auto;
}
.sticker {
    width: 100px;
    height: 100px;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
</style>
<script type="text/javascript" src="/lib/js/jquery.js"></script>
<script type="text/javascript" src="/lib/js/markdown.js"></script>
<title><TMPL_VAR NAME=CATA_NAME></title>
</head>
<body>
<div class="main-container">
    <div class="navbar">
        <div class="container">
        <div class="navbar-inner">
        <a class="brand" href="/index.html">Martian Workshop</a>
        <ul class="nav pull-right">
            <li><a href="#">About Me</a></li>
        </ul>
        </div>
        </div>
    </div>
    <div class="row main-content">
    <div class="span4 sticker">
        <img src="https://secure.gravatar.com/avatar/fb83b522e2fd3f1df774d3a8d702db99?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"></img>
    </div>
    <div class="span8">
    <div id="content" class="span6">
        <h2>Posts:</h2>
        <h3><TMPL_VAR NAME=CATA_NAME></h3>
        <ul id="content_list">
            <TMPL_LOOP NAME=POSTS>
            <li><a href="<TMPL_VAR NAME=POST_LINK>"><TMPL_VAR NAME=POST_TITLE></a></li>
            </TMPL_LOOP>
        </ul>
    </div>
    <div id="catagory" class="span6">
        <h3>Catagories:</h3>
        <ul id="catagory_list">
            <TMPL_LOOP NAME=CATAGORIES>
            <li><a href="<TMPL_VAR NAME=CATA_LINK>"><TMPL_VAR NAME=CATA_NAME></a></li>
            </TMPL_LOOP>
        </ul>
    </div>
    </div>
    </div>
    <div class="footer">Martian Workshop @ 2013</div>
</div>
</body>
</html>
